{
  "openapi": "3.0.3",
  "info": {
    "title": "OMDb API",
    "description": "The Open Movie Database — film metadata keyed by IMDb id, exact title, or free-text title search. Returns release year, genres, director, runtime, plot summary, and IMDb rating. Used by the movie pack as the canonical source for film facts.\n\nOMDb is a single endpoint that switches behaviour on which query parameter you pass: `i` (IMDb id) → fetch by id, `t` (title) → fetch first match by title, `s` (search term) → list matches. Always pass exactly ONE of `i`, `t`, or `s`.",
    "version": "1.0.0",
    "contact": {
      "name": "OMDb",
      "url": "https://www.omdbapi.com/"
    }
  },
  "servers": [
    { "url": "https://www.omdbapi.com" }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getMovie",
        "summary": "Look up a movie by IMDb id, exact title, or search term.",
        "description": "Pass ONE of `i`, `t`, or `s`:\n- `i: tt0110912` — fetch the single record for that IMDb id (cheapest, most precise; prefer this whenever you have an id).\n- `t: 'Pulp Fiction'` — fetch the first movie OMDb matches on title (use `y` to disambiguate remakes).\n- `s: 'pulp'` — search for up to 10 titles containing the term; pick the right `imdbID` from the result and follow up with another call passing `i`.\n\nResponse shape varies by mode. With `i` or `t` you get a `MovieDetail`. With `s` you get a `SearchResult` (an array of `SearchHit`s in `Search` plus `totalResults`). Both shapes set `Response: 'True'` on hit, `Response: 'False'` with an `Error` field on miss — OMDb returns HTTP 200 either way, so check `Response` rather than the status code.",
        "parameters": [
          {
            "name": "i",
            "in": "query",
            "required": false,
            "description": "IMDb id including the leading 'tt', e.g. 'tt0110912' for Pulp Fiction. Use when you already know the id (cheapest call).",
            "schema": { "type": "string", "pattern": "^tt[0-9]{7,10}$" }
          },
          {
            "name": "t",
            "in": "query",
            "required": false,
            "description": "Movie title for an exact-ish single-record lookup. Case-insensitive; OMDb does light fuzzy matching. Combine with `y` to disambiguate.",
            "schema": { "type": "string" }
          },
          {
            "name": "s",
            "in": "query",
            "required": false,
            "description": "Search term — substring of the title. Returns up to 10 hits per page; cap pagination at 1–3 pages.",
            "schema": { "type": "string" }
          },
          {
            "name": "y",
            "in": "query",
            "required": false,
            "description": "Release year filter, four-digit string. Useful with `t` (disambiguate remakes) and `s` (narrow search).",
            "schema": { "type": "string", "pattern": "^[0-9]{4}$" }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Restrict to a media type. Default is any.",
            "schema": { "type": "string", "enum": ["movie", "series", "episode"] }
          },
          {
            "name": "plot",
            "in": "query",
            "required": false,
            "description": "Only meaningful with `i` or `t`. 'short' (default) is one sentence; 'full' is a paragraph.",
            "schema": { "type": "string", "enum": ["short", "full"] }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Only meaningful with `s`. 1-based page number.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": {
          "200": {
            "description": "On `i` or `t`: `MovieDetail`. On `s`: `SearchResult`. Both set `Response: 'False'` with an `Error` field on miss.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/MovieDetail" },
                    { "$ref": "#/components/schemas/SearchResult" }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "query",
        "name": "apikey"
      }
    },
    "schemas": {
      "MovieDetail": {
        "type": "object",
        "description": "Full OMDb record for one title. Returned when the request used `i` or `t`. `Response: 'False'` indicates a miss.",
        "properties": {
          "Title": { "type": "string" },
          "Year": { "type": "string", "description": "Four-digit year; for series, may be a range like '2005–2013'." },
          "Rated": { "type": "string", "description": "MPAA rating (G/PG/PG-13/R/NC-17) or 'N/A'." },
          "Released": { "type": "string", "description": "Theatrical release date, e.g. '14 Oct 1994'." },
          "Runtime": { "type": "string", "description": "Runtime as 'NNN min' string. Strip ' min' before parsing." },
          "Genre": { "type": "string", "description": "Comma-separated genres, e.g. 'Crime, Drama'." },
          "Director": { "type": "string" },
          "Writer": { "type": "string" },
          "Actors": { "type": "string", "description": "Comma-separated headline cast." },
          "Plot": { "type": "string" },
          "Language": { "type": "string" },
          "Country": { "type": "string" },
          "Awards": { "type": "string" },
          "Poster": { "type": "string", "format": "uri", "description": "Poster image URL or 'N/A'." },
          "Metascore": { "type": "string" },
          "imdbRating": { "type": "string", "description": "IMDb 1–10 rating as a string, e.g. '8.9'. Parse to float." },
          "imdbVotes": { "type": "string" },
          "imdbID": { "type": "string", "description": "Stable IMDb id including the 'tt' prefix. Use this as Movie.imdbId when persisting." },
          "Type": { "type": "string", "enum": ["movie", "series", "episode"] },
          "Response": { "type": "string", "enum": ["True", "False"] },
          "Error": { "type": "string", "description": "Present only when Response is 'False', e.g. 'Movie not found!'." }
        },
        "required": ["Response"]
      },
      "SearchHit": {
        "type": "object",
        "description": "One row of a search result. To get full metadata, follow up with another call passing `i: hit.imdbID`.",
        "properties": {
          "Title": { "type": "string" },
          "Year": { "type": "string" },
          "imdbID": { "type": "string" },
          "Type": { "type": "string", "enum": ["movie", "series", "episode"] },
          "Poster": { "type": "string" }
        },
        "required": ["Title", "imdbID"]
      },
      "SearchResult": {
        "type": "object",
        "description": "Paginated search response. Returned when the request used `s`. `Response: 'True'` with a `Search` array on hit, `Response: 'False'` with `Error` on miss.",
        "properties": {
          "Search": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/SearchHit" }
          },
          "totalResults": { "type": "string", "description": "Total hit count as a string. Parse to int for display." },
          "Response": { "type": "string", "enum": ["True", "False"] },
          "Error": { "type": "string" }
        },
        "required": ["Response"]
      }
    }
  }
}
